.media-panel{
	@include border-radius(0px);
	background: #000;
	border: 0px;
	padding: 0px;
	top: 0;
	left: 0;
	
	&.x-panel{
		&.x-floating{
		 	> .x-body{
				background: #000000;
			}
			.x-panel-inner{
				background: #000000;
				@include border-radius(0px);
			}
		}
	}

	&.x-floating > .x-panel-inner:first-child{
		@include border-radius(0px);
		background: #000000;
	}
	iframe{
		border: 0px;
	}
}
