/* global variables */

$light-orange: #fc921a;
$orange: #ee7f00;
$dark-orange: #e64415;
$blue: #5389c2;
$light-blue: #7caad6;
$dark-grey: #373737;
$grey: #414141;
$light-grey: #979696;
$purple: #6e5f68;

