.cover-box{
	.x-panel-inner{
		.x-innerhtml{
			@include wbz-display-box();
			height: 100%;
		}
	}
	.logo-container{
		@include wbz-box-pack(start);
		@include wbz-box-align(center);
	}
	.logo-box{
		@include wbz-display-box();
		@media all and (orientation: portrait) and (min-device-width: 320px){
			width: 164px;
			height: 164px;
			@include wbz-border-radius(164px);
			margin: 35px auto 0 auto;
		}
		@media all and (orientation: portrait) and (min-device-width: 360px){
			width: 194px;
			height: 194px;
			@include wbz-border-radius(194px);
			margin: 45px auto 0 auto;
		}
		
				
		background: transparent;
		border: 1px solid #d1c9ba;
				
		.logo-icon{
			display: block;
			@media all and (orientation: portrait) and (min-device-width: 320px){
				width: 150px;
				height: 150px;
				@include wbz-border-radius(150px);
				background-size: 100px 100px;
			}
			@media all and (orientation: portrait) and (min-device-width: 360px){
				width: 180px;
				height: 180px;
				@include wbz-border-radius(180px);
				background-size: 120px 120px;
			}
			
						
			background: rgba(255,255,255,0.8);
			background-image: wbz_theme_image("phone/logo-icon.png");
			background-position: center center;
			background-repeat: no-repeat;
			margin: 7px auto;
		}
	}
	.logo-text{
		width: 70%;
		height: 80px;
		@include wbz-display-box();
		@include wbz-box-pack(justify);
		@include wbz-box-align(center);
		
		> div{
			background-image: wbz_theme_image("phone/logo-text.png");
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			width: 100%;
			height: 100%;
		}
		
		
	}
	.footer{
		background: rgba(255,255,255,0.85);
		box-shadow: 0px -3px 10px rgba(0,0,0,0.3); 
	}
	@media all and (orientation: portrait) and (min-device-height: 480px){
		.footer{
			height: 120px;
		}
	}
	@media all and (orientation: portrait) and (min-device-height: 600px){
		.footer{
			height: 140px;
		}
	}
	@media all and (orientation: portrait) and (min-device-height: 650px){
		.footer{
			height: 150px;
		}	
	}
	@media all and (orientation: portrait) and (min-device-width: 320px){
		.footer{
			@include wbz-display-box();
						
			.logos{
				margin: 0 auto;
				width: 80%;
				min-width: 280px;
				position: relative;
				@include wbz-display-box();
				@include wbz-box-align(stretch);
				@include wbz-box-pack(justify);
			}
			.logo-ing{
				width: 67%;
				height: 50%;
				position: absolute;
				top: 0;
				left: 0;
				padding: 15px 15px 5px 15px;
				@include wbz-display-box();
				@include wbz-box-pack(justify);
				@include wbz-box-align(center);
				
				> div{
					background-image: wbz_theme_image("phone/logo-ing.png");
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					width: 100%;
					height: 100%;
				}
			}
			.logo-smurd{
				width: 33%;
				height: 50%;
				position: absolute;
				top: 0%;
				left: 67%;
				padding: 15px 15px 5px 15px;
				@include wbz-display-box();
				@include wbz-box-pack(justify);
				@include wbz-box-align(center);
				
				> div{
					background-image: wbz_theme_image("phone/logo-smurd.png");
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					width: 100%;
					height: 100%;
				}
			}
			.logo-mai-mult-verde{
				width: 100%;
				height: 50%;
				position: absolute;
				top: 50%;
				left: 0;
				padding: 5px 15px 15px 15px;
				@include wbz-display-box();
				@include wbz-box-pack(justify);
				@include wbz-box-align(center);
				
				> div{
					background-image: wbz_theme_image("phone/logo-mai-mult-verde.png");
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					width: 100%;
					height: 100%;
				}
			}
			
		}
	}
	@media all and (orientation: landscape) and (min-device-height: 320px) and  (min-device-width: 400px){
		.logo-box{
			width: 120px;
			height: 120px;
			@include wbz-border-radius(120px);
			margin: 20px auto 0 auto;	
			
			.logo-icon{
				width: 110px;
				height: 110px;
				@include wbz-border-radius(110px);
				background-size: 60px 60px;
				margin: 4px auto;
			}
		}
		.logo-text{
			width: 180px;
			height: 32px;
			margin: 10px auto;
		}
		.footer{
			height: 90px;
			@include wbz-display-box();
						
			.logos{
				margin: 0 auto;
				width: 80%;
				min-width: 400px;
				position: relative;
				@include wbz-display-box();
				@include wbz-box-align(stretch);
				@include wbz-box-pack(justify);
			}
			.logo-ing{
				width: 40%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				padding: 15px;
				@include wbz-display-box();
				@include wbz-box-pack(justify);
				@include wbz-box-align(center);
				
				> div{
					background-image: wbz_theme_image("phone/logo-ing.png");
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					width: 100%;
					height: 100%;
				}
			}
			.logo-mai-mult-verde{
				width: 40%;
				height: 100%;
				position: absolute;
				top: 0%;
				left: 40%;
				padding: 15px;
				@include wbz-display-box();
				@include wbz-box-pack(justify);
				@include wbz-box-align(center);
				
				> div{
					background-image: wbz_theme_image("phone/logo-mai-mult-verde.png");
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					width: 100%;
					height: 100%;
				}
			}
			.logo-smurd{
				width: 20%;
				height: 100%;
				position: absolute;
				top: 0%;
				left: 80%;
				padding: 15px;
				@include wbz-display-box();
				@include wbz-box-pack(justify);
				@include wbz-box-align(center);
				
				> div{
					background-image: wbz_theme_image("phone/logo-smurd.png");
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					width: 100%;
					height: 100%;
				}
			}
		}
		
	}
}