 
*{
	font-family: "opensans-regular";
}
.x-mask{
	background: rgba(0,0,0,0.8);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	@include wbz-display-box();
	@include wbz-box-align(center);
	@include wbz-box-pack(center);
}
.x-list{
	background: none;
}
.x-layout-card-item{
	background: none;
}
.x-toolbar-dark{
	background: none;
	border: 0px;
	margin: 0px;
	@include wbz-border-radius(0px);
	padding: 0;
	
	.x-button{
		background: none;
		border: 0px;
		padding: 0px;
		margin: 0px;
		@include wbz-border-radius(0px);
		@include wbz-display-box();
		@include wbz-box-pack(center);
		@include wbz-box-align(center);
		
		.x-button-icon{
			&.x-hidden{
				display: block;
			}
		}
	}
}
.x-button{
	background: none;
	border: 0px;
	padding: 0px;
	@include wbz-border-radius(0px);
	@include wbz-display-box();
	@include wbz-box-pack(center);
	@include wbz-box-align(center);
	
	.x-button-icon{
		&.x-hidden{
			display: block;
		}
	}
}
.x-list-normal{
	.x-list-item{
		width: auto;
		
		.x-list-item-body{
			padding: 0px;
		}
		&.x-list-item-tpl{
			border: 0px;
			
			.x-innerhtml{
				padding: 0px;
			}
			&.x-list-footer-wrap{
				border: 0px;
			}
		}
		
	}
}
