 
*{
	font-family: "opensans-regular";
}
.x-mask{
	background: rgba(0,0,0,0.8);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	@include wbz-display-box();
	@include wbz-box-align(center);
	@include wbz-box-pack(center);
}
.x-list{
	background: none;
}
.x-layout-card-item{
	background: none;
}
.x-toolbar-dark{
	background: none;
	border: 0px;
	margin: 0px;
	@include wbz-border-radius(0px);
	padding: 0;
	
	.x-button{
		background: none;
		border: 0px;
		padding: 0px;
		margin: 0px;
		@include wbz-border-radius(0px);
		@include wbz-display-box();
		@include wbz-box-pack(center);
		@include wbz-box-align(center);
		
		.x-button-icon{
			&.x-hidden{
				display: block;
			}
		}
	}
}
.x-button{
	background: none;
	border: 0px;
	padding: 0px;
	@include wbz-border-radius(0px);
	@include wbz-display-box();
	@include wbz-box-pack(center);
	@include wbz-box-align(center);
	
	.x-button-icon{
		&.x-hidden{
			display: block;
		}
	}
}
.x-form{
	.x-scroll-container{
		background: #ffffff;
	}
}
.x-list-normal{
	.x-list-item{
		width: auto;
		
		.x-list-item-body{
			padding: 0px;
		}
		&.x-list-item-tpl{
			border: 0px;
			
			.x-innerhtml{
				padding: 0px;
			}
			&.x-list-footer-wrap{
				border: 0px;
			}
		}
		
	}
}
.x-picker{
	background: $light-blue;
	
	.x-toolbar-dark{
		&.x-docked-top{
			background: $light-blue;
			border: 0px;
			border-bottom: 1px solid #ffffff;
			margin: 0 20px;
			
			.x-button{
				background: none;
				border: 0px;
				margin: 0 15spx;
				
				.x-button-icon{
					&.x-hidden{
						display: none;	
					}
				}
				.x-button-label{
					color: #ffffff;
					font-size: 14px;	
					font-weight: normal;		
				}
			}
		}
	}
	.x-picker-inner{
		background: transparent;
		margin: 0.7em 20px;
		@include wbz-border-radius(0px);
		border: 1px solid #ffffff;
		
		.x-dataview-item{
			.x-picker-item{
				color: #ffffff;
				font-weight: normal;
			}
			&.x-item-selected{
				.x-picker-item{
					font-weight: normal;
				}
			}
		}
		.x-picker-bar{
			border: 0px;
			background: rgba($blue, 0.2);
			border-top: 1px solid $blue;
			border-bottom: 1px solid $blue;
			@include wbz-box-shadow(none);
		} 
	}
}
.x-list-emptytext{
	.x-innerhtml{
		font-size: 14px;
		color: $grey;
	}
}